* {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  color: #F7A072;
  user-select: none;
}

body {
  background-color: #0FA3B1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#navBar {
  background-color: #B5E2FA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
  width: 100%;
  padding-left: 16px;
  padding-right: 0.5em;
  font-size: 1.5em;
  box-sizing: border-box;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 2em;
  border: 1px solid #CAF0F8;
}


#dishesInputBox {
  height: 2.5em;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
  border-radius: 12px;
  border: 1px solid #CAF0F8;
  padding-left: 6px;
}

#dishesInputBox input {
  height: 100%;
  width: 75%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.2em;
}


#dishesInputBox input::placeholder {
  color: #F7A072;
}

#dishesInputBox div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 2em;
  border-left: 1px solid #CAF0F8;
  padding-right: 3px;
}

#dishRecipeBox {
  position: relative;
  width: 80%;
  border: 2px solid black;
  margin-top: 2em;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
}

#dishImg {
  width: 100%;
  height: auto;
  display: block;
  border-bottom: 2px solid black;
}


#dishRecipeHeader {
  position: absolute;
  top: 5px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 5px;
  box-sizing: border-box;
  z-index: 2;
}

#dishRecipeHeader> :last-child {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
}

#selectedDishName {
  padding: 4px;
  word-break: break-word;
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
}

#closeButton {
  flex-shrink: 0;
}

#dishDiscriptionBox {
  padding: 8px;
}

#dishIngredientsBox {
  width: 100%;
  border-top: 1px solid black;
  height: auto;
}

#dishIngredientsBox :first-child {
  padding-left: 4px;
  height: auto;
  min-height: 2em;
  display: flex;
  align-items: center;
}

.dishIngredientBox {
  min-height: 2em;
  border-bottom: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 4px;
  height: auto;
  box-sizing: border-box;
  
}

#dishTutorialLinkBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  background-color: #FF0000;
}

#dishTutorialLinkBox a {
  color: #ffffff;
}

#dishTutorialLinkBox i {
  color: #ffffff;
}

#dishMenu {
  width: 80%;
  margin-top: 3em;
  border: 2px solid black;
  background: rgba(0, 0, 0, 0.3);
}

#dishMenuHeader {
  margin: 0.6em 4px;
  height: 2em;
  width: auto;
  box-sizing: border-box;
  border-bottom: 1px solid black;
}

.dishCard {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 5em;
  border-bottom: 2px solid black;
  box-sizing: border-box;
}

.dishCardHeader {
  position: absolute;
  top: 5px;
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  box-sizing: border-box;
  z-index: 2;
  background: rgba(0, 0, 0, 0.6);
  padding: 4px;
  backdrop-filter: blur(2px);
  margin-left: 4px;
}

.recommendedDishImg {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

#dishCategorySelectorBox {
  width: 100%;
  height: 2em;
  padding-left: 4px;
  padding-right: 4px;
  box-sizing: border-box;
}

#dishCategorySelectorBox select {
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  font-size: 1.2em;
}

#loadMoreButtonBox {
  width: 100%;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 2px;
}

/* second */
#searchedResults {
  width: 80%;
  border: 2px solid black;
  margin-top: 3em;
}

.searchedDishName {
  margin: 0.6em 4px;
  height: 2em;
  width: 100%;
  box-sizing: border-box;
}

.listedDishCard {
  position: relative;
  width: 100%;
  height: auto;
  border-bottom: 2px solid black;
  
}

.listedDishName {
  position: absolute;
  top: 5px;
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  box-sizing: border-box;
  z-index: 2;
  background: rgba(0, 0, 0, 0.6);
  padding: 4px;
  backdrop-filter: blur(2px);
  margin-left: 4px;
}

.listedImgDish {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.hidden {
  display: none;
}

/* .dishCard {
  position: relative;
}

.dishCardImg {
  width: 100%;
  height: 150px;
  display: block;
}

.dishCardHeader {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 2;
} */
/* background-image: url(/assets/biryani.png);
  background-size: cover;
  background-position: center; */